body {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    line-height: 1.4em;
    background-color: #eddfc7;
    background-image: url(../images/body.jpg);
    background-repeat: repeat;
}

a:hover{
    text-decoration: none;
}

.lll{
    background-color: #ececec;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
}

.lll:hover{
    background-color: #ffffff;
}